<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">

<script>

$(() =>{

$("#addBlogPost").click(event) => {

event.preventDefault()

$.post('/addpost', {
         //the name/program/grade come from the form
        id: $("#id").val(),
        title: $("#title").val(),
        summary:$("#summary").val(),
        content: $("#content").val(),
        author: $("#author").val(),
        created:$("#created").val()
       }
})
})

</script>




        
    </head>
    <body>
    
<form method='POST' action="/addPost">
id <input type='text' name='id' id='id'/>
title <input type='text' name='title' id='title'/>
Summary <input type='text' name='Summary' id='Summary'/>
content <input type='text' name='content' id='content'/>
author  <input type='text' name='author' id='author'/>
created  <input type='text' name='created' id='created'/>
<button type='submit' id='addBlogPost'> SUBMIT </button> 
</form>

    </body>
</html>