<% console.log(blogpost.title) %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <%= blogpost.title %> </br>
    <%=blogpost.author%> </br>
     <%= blogpost.created %> </br>
    <%=blogpost.content%> </br>
    
    
    
    </body>
</html>